body {
    @import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

    .body h1 {
        font-family: 'Sawarabi Mincho', sans-serif;
    }

    background-image: url("/テクノプロweb制作/札幌_上空から.png");
    background-size: cover;
}