body {
    @import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

    .body h1 {
        font-family: 'Sawarabi Mincho', sans-serif;
    }

    background-image: url("../../photo/hokkaido/北海道_雪景色.png");
    background-size: cover;
}